### 导入模块

In [2]:
#from IPython.core.interactiveshell import InteractiveShell
#InteractiveShell.ast_node_interactivity = "all"

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

from sklearn.ensemble import RandomForestClassifier

### 生成DataFrame数据集

In [122]:
t_login = pd.read_csv('t_login.csv')
t_trade = pd.read_csv('t_trade.csv')
t_login_test = pd.read_csv('t_login_test.csv')
t_trade_test = pd.read_csv('t_trade_test.csv')
print 't_login.shape',t_login.shape
print 't_trade.shape',t_trade.shape
print 't_login_test.shape',t_login_test.shape
print 't_trade_test.shape',t_trade_test.shape

t_login.shape (595645, 13)
t_trade.shape (132719, 4)
t_login_test.shape (87748, 13)
t_trade_test.shape (17875, 3)

### 将id放到最后，缀入risk列，dummy scan, drop sec、log_id、timelong、time

In [123]:
scanDummy = pd.get_dummies(t_login['is_scan'],prefix='scan')
t_login_mix = t_login.drop(['log_id','timelong','is_scan','time','is_sec'],1)
t_login_mix = pd.concat([t_login_mix,scanDummy],axis=1)
id = t_login_mix.pop('id')
t_login_mix.insert(9,'id',id)
t_login_mix.insert(10,'risk',0)
print t_login_mix.columns
t_login_mix_np = t_login_mix.as_matrix()
x = t_login_mix_np[:,0:-1]
y = t_login_mix_np[:,-1]
pass

Index([u'device', u'log_from', u'ip', u'city', u'result', u'timestamp',
       u'type', u'scan_False', u'scan_True', u'id', u'risk'],
      dtype='object')

### 随机输出结果，验证输出格式

In [4]:
from random import randint
x = []
for i in range(17875):
    x.append(randint(0,1))
x=np.array(x) 
print type(x)
print x.shape
randomResult = t_trade_test.drop(['time','id'],1)
randomResult['r']=x
randomResult.to_csv('result.csv',index=False,header=False)

<type 'numpy.ndarray'>
(17875L,)

### 扫码的影响

In [5]:
#非扫码登录时的设备来源情况
print np.sort(t_login.loc[t_login['is_scan'] == False].log_from.unique())

[ 1  2  3  5  8 11 12 16 18 21]

### 分组组合

In [132]:
#t_login.groupby(['is_scan','log_from']).sum().reset_index()
#t_trade.groupby(['id','time']).sum()
print 
t_login_mix.groupby(['id']).sum().diff()#,'device','log_from','ip','city','result','timestamp','type','scan_False','scan_True']).sum()

,device,log_from,ip,city,result,timestamp,type,scan_False,scan_True,risk
id,,,,,,,,,,
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1738102.0,13.0,4084366.0,546.0,75.0,7.116218e+09,15.0,5.0,0.0,0.0
13,-3374504.0,-14.0,-6537069.0,-2004.0,-107.0,-9.989239e+09,-21.0,-7.0,0.0,0.0
23,2835055.0,-1.0,1191863.0,210.0,1.0,1.447228e+09,-3.0,1.0,0.0,0.0
25,-2402729.0,0.0,331631.0,226.0,-1.0,-1.435999e+09,3.0,-1.0,0.0,0.0
28,920979.0,1.0,-2066631.0,-20.0,0.0,-1.232848e+07,0.0,0.0,0.0,0.0
37,15474927.0,36.0,12520394.0,2719.0,18.0,2.577075e+10,54.0,18.0,0.0,0.0
41,-6609348.0,-17.0,-1757811.0,-1118.0,149.0,-1.463552e+09,-31.0,-1.0,0.0,0.0
52,-7483778.0,-18.0,-6884416.0,-1696.0,-137.0,-2.000578e+10,-22.0,-14.0,0.0,0.0
57,942245.0,0.0,946023.0,893.0,-27.0,-8.095150e+05,8.0,0.0,0.0,0.0
73,-3573645.0,-3.0,-4335768.0,-1300.0,-4.0,-5.728744e+09,-12.0,-4.0,0.0,0.0
74,1509573.0,9.0,6027503.0,2357.0,9.0,1.281697e+10,27.0,9.0,0.0,0.0
75,8221618.0,119.0,5182717.0,1930.0,126.0,1.576215e+10,11.0,0.0,11.0,0.0
91,-7725487.0,-122.0,-9736716.0,-4107.0,-97.0,-2.428533e+10,-29.0,-6.0,-11.0,0.0
94,2142120.0,29.0,4130261.0,668.0,-29.0,8.563222e+09,-2.0,3.0,3.0,0.0
110,162421289.0,513.0,360251192.0,159432.0,1549.0,7.640122e+11,535.0,538.0,-3.0,0.0
122,-156771537.0,-446.0,-346780861.0,-156837.0,-1332.0,-7.539993e+11,-518.0,-537.0,9.0,0.0
132,-6209962.0,-91.0,-11903362.0,186.0,-214.0,-5.751177e+09,12.0,5.0,-9.0,0.0
134,9119629.0,35.0,7653991.0,3239.0,222.0,9.951805e+09,21.0,7.0,0.0,0.0
149,-11506421.0,-42.0,-13102399.0,-6316.0,-232.0,-2.422614e+10,-51.0,-17.0,0.0,0.0
152,432049.0,-2.0,-401634.0,292.0,29.0,-1.407074e+09,-6.0,-1.0,0.0,0.0
157,2999278.0,7.0,832015.0,1171.0,3.0,8.571974e+09,11.0,6.0,0.0,0.0
180,-824232.0,3.0,2046287.0,-882.0,-23.0,-1.461956e+09,7.0,-1.0,0.0,0.0
218,-3250846.0,-12.0,-4866286.0,-785.0,-11.0,-8.553445e+09,-18.0,-6.0,0.0,0.0
228,43045392.0,110.0,50101952.0,13304.0,937.0,8.826032e+10,174.0,60.0,2.0,0.0
251,-43659363.0,-108.0,-49224398.0,-13268.0,-936.0,-8.682993e+10,-171.0,-59.0,-2.0,0.0
253,2964532.0,21.0,3480073.0,-216.0,3.0,4.304419e+09,-1.0,1.0,2.0,0.0
258,-1869497.0,-21.0,-3335082.0,508.0,-3.0,-4.286473e+09,1.0,-1.0,-2.0,0.0
259,5616604.0,20.0,15060989.0,1144.0,592.0,3.129837e+10,48.0,22.0,0.0,0.0
261,-4563725.0,-19.0,-14671346.0,-527.0,-593.0,-2.843626e+10,-42.0,-20.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
175732,4738467.0,23.0,12836446.0,5066.0,16.0,1.571206e+10,39.0,11.0,0.0,0.0
175733,-2119007.0,-14.0,-522545.0,-2629.0,-33.0,2.877533e+09,6.0,2.0,0.0,0.0
175748,10656471.0,47.0,10566673.0,4051.0,182.0,2.436367e+10,51.0,17.0,0.0,0.0
175754,-16473529.0,-63.0,-25345141.0,-6857.0,-229.0,-4.866305e+10,-102.0,-34.0,0.0,0.0
175763,4216379.0,6.0,4023776.0,2029.0,5.0,7.164416e+09,15.0,5.0,0.0,0.0
175766,323414295.0,882.0,462672008.0,262311.0,826.0,8.374685e+11,574.0,586.0,0.0,0.0
175795,-320092832.0,-878.0,-458588915.0,-262851.0,-772.0,-8.288754e+11,-556.0,-580.0,0.0,0.0
175796,-3774767.0,-2.0,-3935044.0,-109.0,5.0,-1.007721e+10,-25.0,-7.0,0.0,0.0
175798,12790531.0,71.0,14401509.0,939.0,-55.0,3.304375e+10,67.0,20.0,3.0,0.0
175812,22171535.0,17.0,26255347.0,5879.0,235.0,6.112258e+10,131.0,46.0,-3.0,0.0
175818,-37886337.0,-95.0,-44179452.0,-7946.0,-243.0,-9.841014e+10,-205.0,-69.0,0.0,0.0
175847,133013.0,11.0,6395138.0,1512.0,185.0,7.081423e+09,5.0,5.0,0.0,0.0
175870,-467843.0,-4.0,-7415878.0,-1719.0,-186.0,-8.524955e+09,-8.0,-7.0,1.0,0.0
175873,14151880.0,31.0,52285487.0,14166.0,459.0,5.563145e+10,39.0,40.0,-1.0,0.0
175883,87806898.0,204.0,69180339.0,14399.0,156.0,1.273042e+11,347.0,89.0,0.0,0.0
175892,-98394685.0,-216.0,-98733833.0,-18665.0,-438.0,-1.444021e+11,-331.0,-101.0,0.0,0.0
175903,30546207.0,29.0,21612295.0,10621.0,-6.0,3.447216e+10,100.0,24.0,0.0,0.0
175910,-26045311.0,-43.0,-31889250.0,-17212.0,-70.0,-5.297500e+10,-111.0,-37.0,0.0,0.0
175932,-1009314.0,0.0,-4183302.0,-1423.0,-35.0,-7.171066e+09,-15.0,-5.0,0.0,0.0
175934,-5470472.0,-12.0,-6269877.0,-1638.0,-64.0,-9.978837e+09,-27.0,-7.0,0.0,0.0
175936,-168023.0,20.0,13608523.0,1750.0,14.0,1.993726e+10,14.0,14.0,0.0,0.0
175939,9384695.0,5.0,-6279789.0,2013.0,42.0,-3.918248e+06,0.0,0.0,0.0,0.0
175940,12866125.0,32.0,47091132.0,7373.0,140.0,4.575804e+10,81.0,32.0,0.0,0.0
175943,-23915958.0,-54.0,-52147109.0,-10640.0,-196.0,-6.569087e+10,-93.0,-46.0,0.0,0.0
175952,607521.0,-2.0,-1595306.0,-464.0,29.0,-1.435619e+09,-1.0,-1.0,0.0,0.0
175960,189718.0,4.0,-1600610.0,516.0,-13.0,2.832493e+09,8.0,2.0,0.0,0.0
175969,52917810.0,159.0,135252746.0,32997.0,538.0,2.328799e+11,489.0,163.0,0.0,0.0
175970,-21416011.0,-95.0,-75367054.0,-28213.0,-185.0,-1.357019e+11,-429.0,-95.0,0.0,0.0
175977,-31788302.0,-69.0,-58219771.0,-5126.0,-369.0,-9.859306e+10,-69.0,-69.0,0.0,0.0
175987,-728950.0,0.0,-568127.0,-430.0,0.0,7.155250e+06,6.0,0.0,0.0,0.0

### 具体id进行分析

In [74]:
df = t_login.loc[t_login['device'] == 835072].sort_values(by='time',ascending='False')
#df.loc[df['id']==64017].shape
print df.loc[df['id']==64017]
t_trade.loc[t_trade['id']==64017]
#df.loc[df['id'].isin(t_trade['id'])]
#t_trade.loc[t_trade['id'] == 104251].sort_values(by='time',ascending='False').to_csv('T2.csv')
#t_trade.loc[t_trade['id'] == 90970].sort_values(by='time',ascending='False').drop('rowkey',1)

              log_id  timelong  device  log_from       ip  city  result  \
328598  6.474481e+15    3000.0  835072         2   213904   194       1
411204  5.809055e+15   25554.0  835072         1  1253933   248       1

           timestamp  type     id  is_scan  is_sec                 time
328598  1.420042e+09     3  64017    False   False  2015-01-01 00:04:20
411204  1.429721e+09     3  64017    False   False  2015-04-23 00:51:32

        rowkey                   time     id  is_risk
106552  555878  2015-04-20 16:07:57.0  64017        0

In [154]:
from pandas import Series,DataFrame 
a=[['Li','男','PE',98.],['Li','男','A',98.],['Li','男','MATH',60.],['liu','女','MATH',60.],['yu','男','PE',100.]]

df=DataFrame(a,columns=['name','sex','course','score'],index=['a','b','c','d','e']) 
df

  name sex course  score
a   Li   男     PE   98.0
b   Li   男      A   98.0
c   Li   男   MATH   60.0
d  liu   女   MATH   60.0
e   yu   男     PE  100.0

In [158]:
df.groupby('name').sum().reset_index()

  name  score
0   Li  256.0
1  liu   60.0
2   yu  100.0

### 列值统计

In [9]:
#num = t_trade['is_risk'].values.shape
#count0 = t_trade['is_risk'].values.tolist().count(0)
#count1 = t_trade['is_risk'].values.tolist().count(1)
#print 'num: ',num,'\ncount0: ',count0,'\ncount1: ',count1,'\n负正比: ', count0/(count1*1.0)
t_trade['is_risk'].value_counts()
t_trade['id'].value_counts()
t_login['id'].value_counts()
#print t_login['id'].value_counts()[25154:27155]

74386     20595
49567      3328
158652     2841
39265      2144
1483       2049
175166     1905
118622     1744
157099     1312
173093     1285
156309     1112
93267      1008
68798       852
171945      758
78365       712
55802       687
127365      681
105915      673
166326      672
111852      667
33470       622
19357       616
14621       609
40348       593
175766      592
28240       589
143837      553
110         545
150861      543
45845       538
95226       531
          ...
157497        1
114795        1
125505        1
64076         1
80614         1
151486        1
137279        1
106424        1
9484          1
3344          1
48676         1
31579         1
66651         1
120059        1
167304        1
64706         1
39439         1
6776          1
14038         1
39751         1
95579         1
13279         1
59175         1
65627         1
92246         1
18011         1
161083        1
56929         1
136760        1
99429         1
Name: id, Length: 27155, dtype: int64

In [58]:
#(t_trade['id']==139188).value_counts()
#(t_trade_test['id'] == t_trade['id'])

#test中有多少个id出现在了trade中
print 'trade中id的总个数', t_trade['id'].value_counts().shape[0]
print '在login中出现的trade id个数:',t_trade.loc[t_trade['id'].isin(t_login['id'])]['id'].value_counts().shape[0]
print '\ntrade Test中id的个数:', t_trade_test['id'].value_counts().shape[0]
print '在login Test中出现的trade Test id个数:',t_trade_test.loc[t_trade_test['id'].isin(t_login_test['id'])]['id'].value_counts().shape[0]
print '在trade中出现的trade Test id个数:',t_trade_test.loc[t_trade_test['id'].isin(t_trade['id'])]['id'].value_counts().shape[0]
print t_login['result'].value_counts()
print t_login['device'].value_counts()
#print t_trade_test['id']

trade中id的总个数 26044
在login中出现的trade id个数: 25943

trade Test中id的个数: 7272
在login Test中出现的trade Test id个数: 6058
在trade中出现的trade Test id个数: 5251
 1     460503
 31     99345
-2      12428
-1      11541
 6       9973
 22       877
-4        857
 5         71
 3         40
 23        10
Name: result, dtype: int64
835072     78068
225121      1096
926288       645
253357       564
427691       532
274216       508
511707       473
1062713      473
215189       469
728381       408
577143       383
723158       329
902347       329
683498       326
837955       310
897650       297
832230       297
929466       294
1007850      285
700309       277
412258       273
82102        264
53171        262
644370       261
698719       260
1021091      253
655487       252
310736       251
124943       249
466653       247
           ...
217926         1
252759         1
242522         1
914066         1
854669         1
719475         1
491996         1
283046         1
321969         1
311732         1
315830         1
303544         1
481735         1
471498         1
459212         1
508372         1
506331         1
498143         1
672356         1
455154         1
614912         1
616961         1
647696         1
639508         1
580151         1
569914         1
741958         1
680544         1
686691         1
1060870        1
Name: device, Length: 144399, dtype: int64

In [12]:
loginData = pd.read_csv('t_login.csv',dtype = {'log_id':str, 'id':str})
loginTestData = pd.read_csv('t_login_test.csv',dtype={'log_id':str, 'id':str})
tradeData = pd.read_csv('trade_2_login.csv',dtype={'log_id':str, 'id':str})
tradeTestData = pd.read_csv('t_trade_test_2_login.csv',dtype={'log_id':str, 'id':str})
loginTestData = loginTestData.append(loginData)

In [115]:
df.ix[df.A.idxmax()]

c:\python27\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

A    3
B    4
C    4
Name: 2, dtype: int64

In [71]:
timeLog = t_login.sort_values(by='time')

In [78]:
timeLog.loc[timeLog['time']=='2015-01-01 00:26:18']['log_id']

482533    8.073763e+15
Name: log_id, dtype: float64

In [79]:
mt = pd.read_csv('mergeTrade.csv')

In [81]:
mt.loc[mt['time_y']=='2015-01-01 00:26:18']['log_id']

0    8.073763e+15
Name: log_id, dtype: float64